.errMessage {
    display: inline-block;
    width: max-content;
    color: red;
    left: 350px;
    position: absolute;
}

.userInput {
    height: 30px;
}

input {
    position: absolute;
    left: 180px;
}

input[data-main] {
    left: 40px;
}

label {
    font-size: 20px;
}