div.mobileClient
{
  padding: 2px 0;
  display: flex;
}

.clientSurname,
.clientName,
.clientPatronym,
.clientStatus,
.clientDelete{
  width: 13%;
}

.clientEdit {
  width: 16%;
}

.clientBalance {
  width: 10%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}


